{% extends "base.html" %}
<!-- home page will be replaced by blocked content-->
{% block title %}Equipment Page{% endblock %}

{% block navbar %}
  {% if show_button %}
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
  {% endif %}
{% endblock %}


{% block content %}
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1> Equipment Page!</h1>
  <h1>Equipment</h1>
<h2>Rapid Prototyping Support</h2>
<h3>Design, Prototyping, and Testing</h3>

<!--DESKTOP COMPUTERS -->
<div style="display: flex;">
  <div>
    <img src="https://support.hp.com/doc-images/294/c06931922.png"  width="100" height="100">
  </div>
  <div>
     Desktop computers <br> Four HP EliteOne 800 G6 all-in-one desktop PCs allow students to create designs and
connect to various devices that take their ideas from concept to reality.
  </div>
</div>

<!--SOLDERING STATIONS -->
<div style="display: flex;">
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/UTampa_logo.png"  width="100" height="100">
  </div>
  <div>
     Soldering stations <br> Three soldering stations allow students to populate custom milled printed circuit boards
with electronic components.
  </div>
</div>

<!-- ELECTRONICS STATION -->
<div style="display: flex;">
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/UTampa_logo.png"  width="100" height="100">
  </div>
  <div>
     Electronics Station <br> An oscilloscope, several DC power supplies, a function generator, and both bench and
handheld digital multi-meters support the testing and powering of electronic circuits
fabricated by students.
  </div>
</div>

<h3>Fabrication</h3>

<!--LASERS-->
<div style="display: flex;">
  <div>
    <img src="https://images.ctfassets.net/ljtyf78xujn2/3NWDQkgwLKwOMMyGYMWKqO/5b3b5f7ae6083e6a13ebbebb3eb00164/Glowforge_Pro__material_in_passthrough__side_view.jpg"  width="100" height="100">
  </div>
  <div>
     Lasers <br> Two Glowforge Pro desktop lasers enable cutting and engraving of wood, acrylic, glass,
fabric, cardboard, leather, and some metals. They accommodate stock that is 20” wide
by 12” long or greater, at a maximum height of 2”. The lasers can be dangerous and can
only be accessed through a Makerspace worker.
  </div>
</div>

<!--3D PRINTERS -->
<div style="display: flex;">
  <div>
    <img src="https://i.pcmag.com/imagery/reviews/07nJZ7RP5npOUplzaVGsKam-4..v1569481122.jpg"  width="100" height="100">
  </div>
  <div>
     3D printers <br> Two Makerbot Replicator+ single extruder 3D printers support fabrication of designs up
to 11.6” by 7.6” by 6.5” high (573 in3
) with PLA, tough PLA, and other filaments. Using
fused filament fabrication technology, they feature a flexible grip surface (non-heated
bed) and 100 micron layer resolution. These 3D printers are great for rough 3D
prototyping and are accessed through desktop computers in the Makerspace.
<br> One Ultimaker S3 dual extruder 3D printer supports fabrication of designs up to 9” by
7.4” by 7.9” high (526 in3
) with PLA, tough PLA, Nylon, ABS, CPE, and other
filaments. Using fused filament fabrication technology, it features a heated glass surface
and 20 to 600 micron layer resolution. This 3D printer is great for polished designs and
is accessed via USB.
  </div>
</div>

<!--CNC MACHINE -->
<div style="display: flex;">
  <div>
    <img src="https://images.squarespace-cdn.com/content/v1/6137bced60adc255eb7b29f5/1646164959568-STXEHSXK7SFPPXUSZFWB/4th+Axis+BTCNC+%28_DSC3313%29.jpg"  width="100" height="100">
  </div>
  <div>
     CNC machine <br> The Bantam Tools Desktop CNC milling machine allows milling of wood, many metals
(but is optimized for aluminum), FR-1 copper-clad PCB (printed circuit board) blanks,
and more. It supports designs up to 7” by 9” by 3.3” high (208 in3
). It can be used to
fabricate custom PCBs. The CNC milling machine can be dangerous and can only be
accessed through a Makerspace worker.
  </div>
</div>

<!--VACUUM FORMER -->
<div style="display: flex;">
  <div>
    <img src="https://www.formech.com/assets/images/450DT-machine-Large.jpeg"  width="100" height="100">
  </div>
  <div>
     Vacuum former <br> The Formech Compac Mini desktop vacuum former quickly shapes HIPS, ABS, PETG,
and other plastic sheets in the form of an existing 3D design. It has a forming area of 11”
by 9” and has a maximum draw depth of 5.5”.
  </div>
</div>

<!--VINYL CUTTER-->
<div style="display: flex;">
  <div>
    <img src="https://www.fablabs.io/media/W1siZiIsIjIwMTgvMDMvMTYvMTUvNDIvNTUvZjg4MGViZjktOWMwZi00Yzg3LTk5ZDctZWNlYjcxMDE3YjI3L1JvbGFuZF9QbG90dGVyIENhbW0xX0dTLTI0LmpwZyJdLFsicCIsInRodW1iIiwiODAweDgwMFx1MDAzZSJdXQ/Roland_Plotter%20Camm1_GS-24.jpg?sha=6745e54fe80c27b3"  width="100" height="100">
  </div>
  <div>
     Vinyl cutter <br> The Roland CAMM-1 GS-24 desktop cutter custom cuts vinyl, heat transfer material,
and more, from 2” to 27.5” wide (but also supports oversized designs using a novel
tiling function).
  </div>
</div>

<!--HEAT PRESS -->
<div style="display: flex;">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0067/0298/9364/products/HPM-1515-00-1_7e491619-dc49-4ec0-a3fa-5ab98803a449_300x300.jpg?v=1557892289"  width="100" height="100">
  </div>
  <div>
     Heat press <br> The PowerPress heat press can heat seal designs up to 15” by 15” onto fabrics (natural
or synthetic), ceramic, some plastics, and more
  </div>
</div>

<h3>Assembly</h3>

<!--ASSEMBLY STATIONS -->
<div style="display: flex;">
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/UTampa_logo.png"  width="100" height="100">
  </div>
  <div>
     Assembly stations <br> From cordless drills, screwdrivers, and pliers to glue, tape, and more, several assembly
stations provide the equipment, tools, and supplies necessary to allow students to
assemble the designs that they have fabricated.
  </div>
</div>

<h3>Production</h3>

<!--PRODUCTION -->
<div style="display: flex;">
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/UTampa_logo.png"  width="100" height="100">
  </div>
  <div>
     A 2' x 2' x 2' portable photo studio that includes various color backgrounds, lighting, and a
camera allows students to take professional photos of their finished designs for use in
presentations, papers, newsletters, and advertisements for the CS program.
  </div>
</div>

<!--comment -->
<div style="display: flex;">
  <div>
    <img src="https://m.media-amazon.com/images/I/811VitalLdL.jpg"  width="100" height="100">
  </div>
  <div>
     A HP DesignJet T230 large format printer provides support for printing designs up to 24”
wide. Students can use the printer for posters of their projects for presentations, for stickers
and labels that enhance their fabricated designs, and more.
  </div>
</div>

<img src="image-url" alt="image-description">

<p>equip 11<br>
  *insert picture* *description of machine*

</body>
{% endblock %}