{% extends "base.html" %}
<!-- home page will be replaced by blocked content-->
{% block title %}Information Page{% endblock %}
{% block content %}
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>Frequently Asked Questions</h1>
<p>What is the Makerspace?<br>
The Makerspace provides Computer Science (CS) majors and minors with resources for rapid prototyping. It's a place where CS students can design, fabricate, assemble, and test their ideas related to projects in the Computer Science curriculum. It supports various phases of project development from design, prototyping, and testing to fabrication, assembly, and production. The Makerspace is currently only available to CS majors and minors.</p>

<p>Where is the Makerspace located?<br>
The Makerspace is located on the 6th floor of the Technology Building.</p>

<p>Do I have to be a Computer Science major and/or minor to use it?<br>
Yes, the Makerspace is currently only open to students who major/minor in Comptuer Science, or who are affiliated with a CS club on campus. All other students should contact one of the falcutly memebers, listed below, if intersted in using the Makerspace.</p>

<p>What equipment is ther to use in the Makerspace?<br>
The Equipment tab under About gives a detailed list of all machinery currently available.</p>

<p>Do I have to be certified to use any of the equipment?<br>
Yes, students will have to complete training videos before using specific machines. These videos can be found under your Profile. </p>

<p>Hours:<br>
  Monday-Friday: TBD<br>
  Saturday-Sunday: CLOSED</p>

<p>Contact Us:<br>
  Jean Gourd: jgourd@ut.edu <br>
  Lori Jacques: ljacques@ut.edu <br>
  Abhilash Kancharla: akancharla@ut.edu
  </p>

</body>
{% endblock %}