{% extends "base.html" %}
<!-- home page will be replaced by blocked content-->
{% block title %}Home Page{% endblock %}
{% block content %}

    <!--Code Homepage below  -->
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Welcome To The Makerspace!</h1>
        <div style="display: flex;">
      <div style="margin-right: 10px;">
        <img src="https://i.pinimg.com/originals/25/ff/61/25ff61c45cea1c5a3b9aff00e19d59a2.png" alt="big-image-description" width="700" height="400">
      </div>
      <div style="display: flex; flex-direction: column;">
        <img src="https://i.pinimg.com/originals/25/ff/61/25ff61c45cea1c5a3b9aff00e19d59a2.png" alt="small-image-description-1" width="500" height="200">
        <img src="https://i.pinimg.com/originals/25/ff/61/25ff61c45cea1c5a3b9aff00e19d59a2.png" alt="small-image-description-2" width="500" height="200">
      </div>
    </div>

</body>


</body>
{% endblock %}