    <img src="static/wordLogo.jpg" alt="ut logo" width="400">


    <!-- Bootstrap NavBar located here -->
<div class="row">

  <div class="col-sm-4" style="background-color: #E82F2FFF;"> </div>
  <div class="col-sm-7" style="background-color: #E82F2FFF;">

    <nav class="navbar navbar-expand  navbar-dark " style="background-color: #E82F2FFF;" >
        <!-- where nav bar was -->
      <a class="navbar-brand" href="http://127.0.0.1:5000"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto ">

            <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
          </li>

            <!-- About dropdown menu-->
            <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('faq')}}">FAQ</a>
              <a class="dropdown-item" href="{{url_for('equipment')}}">Equipment</a>
                <a class="dropdown-item" href="{{url_for('test')}}">Test Page</a>

                 <!-- if the current user is admin and admin in session, they will see admin page -->
                {% if current_user.is_authenticated and current_user.is_admin %}
                <a class="dropdown-item" href="http://127.0.0.1:5000/admin">Admin Page</a>
                {% endif %}
            </div>
          </li>

            <!-- Rest of NavBar-->

            <!-- if user is in current session, change navbar links -->
            {% if current_user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:5000/calendly">Reserve <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="">EMERGENCY</a>
                </li>

              <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:5000/login">Login</a>
                </li>
            {% endif %}

        </ul>
      </div>
    </nav>
    </div>
    <div class="col-sm-1" style="background-color: #E82F2FFF;"> </div>
  </div>


