<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is a test file</title>
    <a href="http://127.0.0.1:5000">Back to home</a>
</head>

<!-- this is a comment -->

<body>
    <div>
    <p> This is a test paragraph </p>
    <p> This is another test paragraph </p>
    <h1>This is the most important heading</h1>
    <h2>This is the next important heading</h2>

    <ul>
        <li>This is a list</li>>
    </ul>
    </div>

    <span>I am a <br>span tag</span>
    <hr>
    
    <img src="static/utlogo.png" alt="ut logo">

    <p style = "color: blue;"> This is blue</p>

</body>
</html>