{% extends "base.html" %}
{% block title %}Test Page{% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">

    <title>Office Status</title>

</head>

<!-- this is a comment -->


    <h1>Makerspace is {% if is_open %}open{% else %}closed{% endif %}!</h1>

    {% if current_user.is_authenticated and (current_user.is_admin or current_user.is_worker) %}
        <form action="{{ url_for('update_status') }}" method="post">
            {% if is_open %}
                <button type="submit" name="is_open" value="False" class="btn btn-danger">Close Makerspace</button>
            {% else %}
                <button type="submit" name="is_open" value="True" class="btn btn-success">Open Makerspace</button>
            {% endif %}
        </form>
    {% endif %}


{% endblock %}
