asgiref==3.6.0
backports.zoneinfo==0.2.1
click==8.1.3
CSC201UT @ git+https://github.com/jgourd/CSC201UT@afe2560c224d8854a473f181b0f76b912e7209aa
Django==4.1.6
dnspython==2.3.0
Flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
greenlet==2.0.2
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
pygame==2.1.3
pymongo==4.3.3
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
SQLAlchemy==2.0.4
sqlparse==0.4.3
typing_extensions==4.5.0
Werkzeug==2.2.2
WTForms==3.0.1
zipp==3.12.1
