<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SMS Button</title>
</head>
<body>
    <h1>Send Text Message</h1>
    <form action="{{ url_for('send_message') }}" method="post">
        <input type="hidden" name="current_user" value="{{ current_user.name }}">
        <button type="submit">Send Text Message</button>
    </form>
</body>
</html>
