{% extends "base.html" %}
<!-- home page will be replaced by blocked content-->
{% block title %}About Us{% endblock %}

{% block head_extra %}
{% endblock %}


{% block content %}

<div class="w3-container" style="padding: 128px 20px" id="Signatures">
  <h3 class="w3-left w3-small" style="text-align: left; color: #999;">Developers of the Application:</h3>
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div style="flex: 1;">
      <p class="w3-small" style="margin-right: 20px;color: #999;"><br><br>Derien Hartline<br>
      BS Computer Science<br>
      The University of Tampa '25</p>
    </div>
    <div style="flex: 1;">
      <p class="w3-small" style="margin-right: 20px;color: #999;"><br><br>Jackie McDaniels<br>
      BS Math with Computer Science<br>
      The University of Tampa '24</p>
    </div>
    <div style="flex: 1;">
      <p class="w3-small" style="margin-right: 20px;color: #999;"><br><br>William Molyneaux<br>
      BA Data Science<br>
      University of California, Berkeley '23</p>
    </div>
    <div style="flex: 1;">
      <p class="w3-small" style="margin-right: 20px;color: #999;"><br><br>Alex Rodriguez<br>
      BS Computer Science<br>
      The University of Tampa '24</p>
    </div>
  </div>
</div>



{% endblock %}