{% extends "base.html" %}
<!-- home page will be replaced by blocked content-->
{% block title %}Emergency Page{% endblock %}

{% block head_extra %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/emergency.css') }}">
{% endblock %}

{% block content %}
    <h1>Send SMS</h1>
    <p class="emergency-info">Please use this button only in the event of an actual emergency. Any abuse of this system may result in Makerspace
        privileges being revoked.
        Your name will automatically be recorded when the message is sent.
    </p>

      <!-- Emergency request form -->
  <div class="form-container">
    <div class="form-box">
      <form action="/emergency" method="post">
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea name="message" id="message" class="form-control" rows="4" required></textarea>
        </div>
        <input type="submit" value="Send SMS" class="btn btn-primary">
      </form>
    </div>
  </div>
{% endblock %}