{% extends "base.html" %}
<!-- home page will be replaced by blocked content-->
{% block title %}Equipment Page{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/equipment_styles.css') }}">
{% endblock %}

{% block content %}

<!-- Equipment Section -->
<!-- DESKTOP COMPUTERS -->
<div class="w3-container" style="padding:75px 16px" id="equipment">
  <h3 class="w3-center">Makerspace Equipment</h3>
</div>


<!--Cards for each equipment, optimized for different sized pictures -->

 <div class="cards-container">
      <div class="equipment-card">
        <img src="https://github.com/dhartline1001/fab-five/blob/main/Makerspace%20App/static/Pictures/desktop.jpg?raw=true" style="width: 100%;" class="equipment-card-img">
        <div class="w3-container" style="padding:24px"></div>
        <div class="w3-container">
          <h3>Desktop computers</h3>
          <p class="w3-opacity">Design, Prototyping, and Testing</p>
          <button onclick="toggleContent(this)" data-target="hiddenContent1">Click for more information</button>
          <div id="hiddenContent1" style="display:none;">
            <p>Four HP EliteOne 800 G6 all-in-one desktop PCs allow students to create designs and connect to various devices that take their ideas from concept to reality.</p>
          </div>
        </div>
      </div>




<!-- SOLDERING STATIONS -->


  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/Soldering.jpg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Soldering stations</h3>
      <p class="w3-opacity">Design, Prototyping, and Testing</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent2">Click for more information</button>
      <div id="hiddenContent2" style="display: none;">
        <p>Three soldering stations allow students to populate custom milled printed circuit boards with electronic components.</p>
      </div>
    </div>
  </div>




<!-- ELECTRONICS STATION -->

  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/electronics.jpg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Electronics Station</h3>
      <p class="w3-opacity">Design, Prototyping, and Testing</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent3">Click for more information</button>
      <div id="hiddenContent3" style="display: none;">
        <p>An oscilloscope, several DC power supplies, a function generator, and both bench and handheld digital multi-meters support the testing and powering of electronic circuits fabricated by students.</p>
      </div>
    </div>
  </div>



<!-- LASERS -->

  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/1laser.jpg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Lasers</h3>
      <p class="w3-opacity">Fabrication</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent4">Click for more information</button>
      <div id="hiddenContent4" style="display: none;">
        <p>Two Glowforge Pro desktop lasers enable cutting and engraving of wood, acrylic, glass, fabric, cardboard, leather, and some metals. They accommodate stock that is 20” wide by 12” long or greater, at a maximum height of 2”. The lasers can be dangerous and can only be accessed through a Makerspace worker.</p>
      </div>
    </div>
  </div>



<!-- 3D PRINTERS -->

  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/3dprinter.jpg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>3D Printers</h3>
      <p class="w3-opacity">Fabrication</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent5">Click for more information</button>
      <div id="hiddenContent5" style="display: none;">
        <p>▪ Two Makerbot Replicator+ single extruder 3D printers support fabrication of designs up to 11.6” by 7.6” by 6.5” high (573 in3) with PLA, tough PLA, and other filaments. Using fused filament fabrication technology, they feature a flexible grip surface (non-heated bed) and 100 micron layer resolution. These 3D printers are great for rough 3D prototyping and are accessed through desktop computers in the Makerspace.</p>
        <p>▪ One Ultimaker S3 dual extruder 3D printer supports fabrication of designs up to 9” by 7.4” by 7.9” high (526 in3) with PLA, tough PLA, Nylon, ABS, CPE, and other filaments. Using fused filament fabrication technology, it features a heated glass surface and 20 to 600 micron layer resolution. This 3D printer is great for polished designs and is accessed via USB.</p>
      </div>
    </div>
  </div>



<!-- CNC MACHINE -->

  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/cnc.jpg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>CNC Machine</h3>
      <p class="w3-opacity">Fabrication</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent6">Click for more information</button>
      <div id="hiddenContent6" style="display: none;">
        <p>The Bantam Tools Desktop CNC milling machine allows milling of wood, many metals (but is optimized for aluminum), FR-1 copper-clad PCB (printed circuit board) blanks, and more. It supports designs up to 7” by 9” by 3.3” high (208 in3). It can be used to fabricate custom PCBs. The CNC milling machine can be dangerous and can only be accessed through a Makerspace worker.</p>
      </div>
    </div>
  </div>



<!-- VACUUM FORMER -->

  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/Vacuum%20Former.jpeg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Vacuum Former</h3>
      <p class="w3-opacity">Fabrication</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent7">Click for more information</button>
      <div id="hiddenContent7" style="display: none;">
        <p>The Formech Compac Mini desktop vacuum former quickly shapes HIPS, ABS, PETG, and other plastic sheets in the form of an existing 3D design. It has a forming area of 11” by 9” and has a maximum draw depth of 5.5”.</p>
      </div>
    </div>
  </div>



<!-- VINYL CUTTER -->

  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/1vinyl.jpg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Vinyl Cutter</h3>
      <p class="w3-opacity">Fabrication</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent8">Click for more information</button>
      <div id="hiddenContent8" style="display: none;">
        <p>The Roland CAMM-1 GS-24 desktop cutter custom cuts vinyl, heat transfer material, and more, from 2” to 27.5” wide (but also supports oversized designs using a novel tiling function).</p>
      </div>
    </div>
  </div>


<!-- HEAT PRESS -->

  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/heat_press.jpg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Heat Press</h3>
      <p class="w3-opacity">Fabrication</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent9">Click for more information</button>
      <div id="hiddenContent9" style="display: none;">
        <p>The PowerPress heat press can heat seal designs up to 15” by 15” onto fabrics (natural or synthetic), ceramic, some plastics, and more.</p>
      </div>
    </div>
  </div>



<!-- ASSEMBLY STATIONS -->

  <div class="equipment-card">
    <img src="https://github.com/dhartline1001/fab-five/blob/main/Makerspace%20App/static/Pictures/assembly.jpg?raw=true" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Assembly Stations</h3>
      <p class="w3-opacity">Assembly</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent10">Click for more information</button>
      <div id="hiddenContent10" style="display: none;">
        <p>From cordless drills, screwdrivers, and pliers to glue, tape, and more, several assembly stations provide the equipment, tools, and supplies necessary to allow students to assemble the designs that they have fabricated.</p>
      </div>
    </div>
  </div>



<!-- PRODUCTION STATION 1 -->

  <div class="equipment-card">
    <img src="https://github.com/dhartline1001/fab-five/blob/main/Makerspace%20App/static/Pictures/production.jpg?raw=true" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Production Station</h3>
      <p class="w3-opacity">Production</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent11">Click for more information</button>
      <div id="hiddenContent11" style="display: none;">
        <p>A 2' x 2' x 2' portable photo studio that includes various color backgrounds, lighting, and a camera allows students to take professional photos of their finished designs for use in presentations, papers, newsletters, and advertisements for the CS program.</p>
      </div>
    </div>
  </div>



<!-- PRODUCTION STATION 2 -->

  <div class="equipment-card">
    <img src="https://raw.githubusercontent.com/dhartline1001/fab-five/main/Makerspace%20App/static/Pictures/1production.jpg" style="width: 100%;" class="equipment-card-img">
    <div class="w3-container" style="padding:24px"></div>
    <div class="w3-container">
      <h3>Production Station</h3>
      <p class="w3-opacity">Production</p>
      <button onclick="toggleContent(this)" data-target="hiddenContent12">Click for more information</button>
      <div id="hiddenContent12" style="display: none;">
        <p>A HP DesignJet T230 large format printer provides support for printing designs up to 24” wide. Students can use the printer for posters of their projects for presentations, for stickers and labels that enhance their fabricated designs, and more.</p>
      </div>
    </div>
  </div>

</div>


<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>
<br>

{% if current_user.is_authenticated%}
<div class="w3-container" style="padding:75px 16px" id="equipment">
  <h3 class="w3-center">Need more help or want to schedule a training session? Email utmakerspace@spartans.ut.edu for more info</h3>
</div>
{% endif %}

<script src="{{ url_for('static', filename='js/equipment_scripts.js') }}"></script>




{% endblock %}