{% extends "base.html" %}
<!-- home page will be replaced by blocked content-->
{% block title %}Reserve{% endblock %}

{% block head_extra %}
    <!-- Include FullCalendar and its dependencies -->
    <link href='https://unpkg.com/fullcalendar@5/main.min.css' rel='stylesheet' />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_styles.css') }}">
{% endblock %}


{% block content %}
    <!-- Form for discord request -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
          <h3>Submit your reservation request here</h3>
          <form action="/reserve" method="POST">
            <div class="form-group">
              <label for="message">message:</label>
              <textarea class="form-control" id="message" name="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <br><br>

    <div id="calendar"></div>
    <!-- Modal to display events -->
    <div id="modal" style="display:none;">
        <h2>Events on <span id="modal-date"></span></h2>
        <div id="modal-events"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>  <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>  <!-- Include moment.js -->
    <script src='https://unpkg.com/fullcalendar@5/main.min.js'></script>

    <!-- FullCalendar API -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'America/New_York',
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                editable: false,
                dayMaxEvents: true,
                events: '/fetch_events',
                eventColor: '#378006',
                dateClick: function(info) {
                    var events = calendar.getEvents();  // Get all events
                    var eventsOnThisDay = []; // Prepare an array for events happening on the clicked day

                    // Iterate over all events and push events happening on this day to the array
                    events.forEach(function(event) {
                        if (moment(event.start).isSame(info.date, 'day')) {
                            eventsOnThisDay.push(event);
                        }
                    });

                    // Clear the modal
                    $('#eventsModal .modal-body').html('');

                    // Add events to the modal
                    if (eventsOnThisDay.length) {
                        var ul = $('<ul/>');
                        eventsOnThisDay.forEach(function(event) {
                            ul.append($('<li/>').text(event.title + ' (' + moment(event.start).format('HH:mm') + ' - ' + moment(event.end).format('HH:mm') + ')'));
                        });
                        $('#eventsModal .modal-body').append(ul);
                    } else {
                        $('#eventsModal .modal-body').append('<p>No events on this day</p>');
                    }

                    // Set the date in the modal title
                    $('#eventsModalLabel').text('Events on ' + info.dateStr);

                    // Show the modal
                    $('#eventsModal').modal('show');
                }
            });

            calendar.render();
        });
    </script>
<!-- Bootstrap Modal -->
<div class="modal fade" id="eventsModal" tabindex="-1" role="dialog" aria-labelledby="eventsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventsModalLabel">Events</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Events will be added here dynamically -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}
