
/* Full height image header   https://www.w3schools.com/w3images/mac.jpg*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
    height: 100%;
    line-height: 1.8;
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/static/makerspacepic.jpg");

    min-height: 100%;
}
.navbar {
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: white;
  padding: 16px;
  position: relative;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
}

.navbar-toggler {
  border: none;
  font-size: 24px;
  padding: 0;
}

.navbar-nav {
  margin: 0;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.nav-item {
  margin-right: 16px;
  white-space: nowrap;
}

.nav-link {
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}

.nav-link:hover {
  color: black;
  background-color: lightgray;
}

@media (max-width: 767px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    padding: 16px;
    background-color: white;
    border: 1px solid lightgray;
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
  }
}


/* Updated the flash message container styling */
.flash-message-container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Add this to your existing <style> section */
#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 0;
}
.fc-content {
    cursor: pointer;
}

/* Add this to your existing <style> section */
#calendar {
    z-index: 1;
}

/* Add this to your existing <style> section */
#calendar {
    height: 600px;
}
