html, body {
  height: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 1rem;
}

.form-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 50%;
}

h1, p {
  text-align: center;
  max-width: 100%;
}

.emergency-info {
  text-align: center;
  max-width: 75%; /* Adjust this value to change the width of the paragraph */
  margin: 0 auto; /* Centers the paragraph horizontally */
  margin-bottom: 20px;
}

/* Add the following CSS to style the button */
.btn-primary {
  background-color: red;
  border-color: red;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: darkred;
  border-color: darkred;
}
