
body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
}
.header {
    text-align: center;
    margin-bottom: 1em;
}
.form-label {
    display: block;
    margin-bottom: 0.2em;
}
.form-input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}
.form-button {
    width: 100%;
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0;
    transition-duration: 0.4s;
}
.form-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.flashes {
    list-style-type: none;
    padding: 0;
    color: red;
}
