.w3-bar .w3-button {
    padding: 16px;
}
.w3-oc {
    position: absolute;
    top: 0px;
    right: -740px;
}
    .w3-bar {
  flex-wrap: nowrap;
  white-space: nowrap;
}
.w3-bar-item {
  white-space: nowrap;
}
